body {
    background-color:blanchedalmond;
    display: grid;
}
    
h1 {
    color: #334259;
    background-color: #a6cad4;
    text-align: center; 
    
}


nav{
    text-align: center;
    background-color: #a6cad4;
}

ul{
    display: inline-block;
}

.font1{
    font-family: 'Montserrat', Courier, monospace;
}

footer{
    background-color: #a6cad4;
}