body {
    background-color: #EDDDD0;
}

header{
    background-color: #a6cad4;
}

h1 {
    color: #334259;
    text-align: center;
}

.font1{
    font-family: 'Montserrat', Courier, monospace;
}

footer{
    background-color: #a6cad4;
    text-align: center; 
}

nav ul{
    /* all nav lists in index? */
    /* may want to create a class later on */
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;    
}

nav ul li {
    margin: 0 5px;
}

article div{
    /* index main layout */
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0 10px;
}


/* index classes */
.aboutme{ 
    /* index about me blurb */
    grid-column: 1/-1;
}


.indeximg{
    /* index scully image */
    grid-row: 2;
    grid-column: 2;
}


/* Course pages */
.sep-border {
    border-bottom: solid 2px grey;
    margin-bottom: 10px;
    /* <hr> would be better. */
}


@media screen and (min-width:600px) {
    .grid-fullscreen{
        /* in course page */
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .pagelink {
        /* class link title in course  */
        grid-column: 1/-1;
    }

    .coursedesc{
        /* page description in course */
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .term{
        /* fall 2022 term in course */
        grid-row: 3/4;
    }

    nav ul{
        display: flex;
        justify-content: center;
        list-style-type: none;
        flex-direction: row;
    }
}