body {
    background-color:blanchedalmond;
    display: grid;
    
}
  
header{
    background-color: #a6cad4;}

h1 {
    color: #334259;
    text-align: center; 
    
}

.removebox{
    margin-top: 0px ;
    margin-bottom: 0px;
}

nav{
    
    background-color: #a6cad4;
    text-align: center;
}

ul{
    display: flex;
    margin-bottom: 3px;
    

}

.font1{
    font-family: 'Montserrat', Courier, monospace;
}

footer{
    background-color: #a6cad4;
    text-align: center; 
}

nav ul li {
    list-style-type: none;
    margin: 0 5px;
}

